/* external view */

.dropdownButton {
  padding: 6px 4px 6px 8px;
  display: flex;
  gap: 55px;
  /* min-height: var(--minButtonHeight);
  min-width: var(--minButtonWidth); */

  border-radius: var(--borderRad);
  position: relative;
  height: fit-content;
}

.dropdownChildren {
  padding: 5px;
  position: relative;
}

/* inside view */

.dropdownButton:hover .optionsWrap,
.optionsWrap {
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;

  padding-top: 5px;
}

.hideOptions {
  display: none;
}

.option {
  background-color: var(--01dp);
  color: var(--textSemiColor);
  padding: 6px 6px;
  margin: 0;
  width: 100%;
}

.option:hover {
  cursor: pointer;
  color: var(--textColor);
}

/* animation */

.dropdownButton svg {
  transition: transform 0.3s;
}

.dropdownButton:has(:not(.hideOptions)) svg {
  transform: rotate(180deg);
}

.dropdownButton:has(.hideOptions) svg {
  transform: rotate(0deg);
}

.dropdownButton:hover:has(.hideOptions) svg {
  transform: rotate(180deg);
}

/* border radius */

.optionsWrap .option:only-child {
  border-radius: var(--borderRad);
}

.optionsWrap .option:first-child:not(:only-child) {
  border-radius: var(--borderRad) var(--borderRad) 0 0;
}

.optionsWrap .option:last-child:not(:only-child) {
  border-radius: 0 0 var(--borderRad) var(--borderRad);
}
