.subTitle {
}

.subText {
    position: absolute;
    top: 0;
    right: 0;
}

.subBlock {
    display: flex;
    margin-top: 1.25rem;
    flex-direction: column;
    border-radius: 0.75rem;
}

.subRow {
    position: relative;
    width: 100%;
}
