.posterColumn {
  @apply w-full flex flex-col justify-start items-center lg:w-[250px] gap-4;
}

.titleDescColumn {
  @apply flex flex-col w-full lg:w-[500px] xl:w-[670px] gap-4;
}

.detailColumn {
  @apply w-full lg:w-[270px];
}

.infoRow {
  @apply min-h-0 md:h-max;
}

.genresRow {
  display: flex;
  gap: var(--gapVar);
}

.subText {
  width: fit-content;
  text-align: right;
}

.subBlock {
  display: flex;
  margin-top: 1.25rem;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: var(--01dp);
  padding: 10px;
}

.subRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--gapVar);
  width: 100%;
  border-bottom: 2px dashed var(--06dp);
}

.detailsArray {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gapVar);
}
