.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 100%;
}

.messageInputContainer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.messageInput {
  width: 100%;
}
