.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subrowTitle {
    font-size: xxx-large;
    width: fit-content;
}

@media screen and (min-width: 376px) {
    .subrowTitle {
        font-size: xx-large;
        width: fit-content;
    }    
}