.button {
  /* Button */
  padding: 10px 15px;
  border-radius: var(--borderRad);
}

.buttonBG {
  /* Button */
  padding: 10px 15px;
  border-radius: var(--borderRad);
  background-color: var(--01dp);
}

.button:not(:disabled):hover {
  /* On button hover */
  cursor: pointer;
  background-color: var(--02dp);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.button:not(:disabled):active {
  /* On button click */
  cursor: pointer;
  background-color: var(--03dp);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.button:disabled {
  /* Disabled button */
  opacity: 0.6;
  cursor: not-allowed;
}

.btnWithLabel {
  font-size: var(--textSize);
  display: flex;
  flex-direction: column;
}

.btnErrorline {
  display: flex;
  align-items: center;
}
