.button {
  padding: 8px 16px;
  border-radius: var(--borderRad);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--01dp);
}

.button:not(:disabled):focus {
  cursor: pointer;
  background-color: var(--03dp);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btnWithLabel {
  font-size: var(--textSize);
  display: flex;
  flex-direction: column;
}

.btnErrorline {
  display: flex;
  align-items: center;
}

/* Ghost button */

.ghost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ghost:not(:disabled):hover {
  background-color: var(--01dp);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.ghost:not(:disabled):focus {
  background-color: var(--03dp);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Primary button */

.primary {
  background-color: var(--frontColor);
  color: var(--backColor);
}

.primary:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--primary24dp);
}

.primary:not(:disabled):focus {
  background-color: var(--primary16dp);
}
/* Secondary button */

.secondary {
  background-color: var(--01dp);
}

.secondary:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--02dp);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.secondary:not(:disabled):focus {
  background-color: var(--06dp);
}
/* Outline button */

.outline {
  border: 1px var(--01dp) solid;
}

.outline:not(:disabled):hover {
  background-color: var(--01dp);
}

.outline:focus {
  background-color: var(--02dp);
}

/* Link button variant */
.link {
  background-color: transparent;
  width: fit-content;
  position: relative;
  color: var(--textSemiColor);
}

.link:not(:disabled):hover,
.link:not(:disabled):focus {
  color: var(--textColor);
}
