/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0e0e0e;
  /* --primaryColor: #a73939; */
  --primaryColor: white;

  --00dp: color-mix(in oklab, var(--black) 100%, var(--primaryColor) 0%);
  --t00dp: color-mix(in oklab, var(--black) 95%, transparent);
  --01dp: color-mix(in oklab, var(--black) 100%, var(--primaryColor) 7%);
  --t01dp: color-mix(in oklab, var(--01dp) 75%, transparent);
  --02dp: color-mix(in oklab, var(--black) 100%, var(--primaryColor) 12%);
  --03dp: color-mix(in oklab, var(--black) 100%, var(--primaryColor) 17%);
  --04dp: color-mix(in oklab, var(--black) 100%, var(--primaryColor) 25%);
  --05dp: color-mix(in oklab, var(--black) 25%, var(--primaryColor) 100%);

  --background: var(--00dp);
  --foreground: #ffffffab;

  --textColor: rgb(255, 255, 255);
  --textSemiColor: #ffffffab;

  --titleColor: white;

  --button: color-mix(in oklab, var(--01dp) 45%, transparent);
  --buttonHover: color-mix(in oklab, var(--03dp) 50%, transparent);

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadowHover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow02dp: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow03dp: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow04dp: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow05dp: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --posterWidth: 192px;
  --posterHeight: 313px;

  --blurredFilter: blur(5px);
  --borderRad: 12px;

  --loadGradient: linear-gradient(90deg, var(--00dp) 25%, var(--02dp) 50%, var(--01dp) 75%);

  --minButtonHeight: 40px;
  --minButtonWidth: 40px;

  --borderSize: 2px;
  --border: var(--borderSize) solid var(--primaryColor);

  --gapVar: 15px;

  --loadingGradient: linear-gradient(90deg, var(--00dp) 25%, var(--02dp) 50%, var(--01dp) 75%, var(--00dp) 100%);
  --loadingAnim: shimmer 1s infinite linear !important;

  --mdMaxWidth: 768px;

  --sideMenuWidth: 250px;

  --borderAnimSize: 5px;
}

.body-shifted {
  transform: translate(var(--sideMenuWidth), 0px);
}

svg:hover {
  fill: var(--primaryColor);
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: 0.2s;
}

span > :nth-child(1) {
  color: var(--whiteTransparent);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--01dp);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  width: 15px;
  background-color: var(--03dp);
}

*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

*:focus {
  outline: none;
}

.layer1 {
  background-color: var(--01dp);
  border-radius: var(--borderRad);
  box-shadow: var(--shadowHover);
  padding: 15px;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

/* Buttons and Inputs */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: var(--textColor);
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover {
  background-color: var(--02dp);
  cursor: pointer;
  box-shadow: var(--shadowHover);
}

/* BORDER ANIMATION */

@layer utilities {
  .border-animate::after {
    content: ' ';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition:
      0.3s ease 0s,
      left 0.3s ease 0s;
    transform-origin: bottom right;
    background-color: var(--primaryColor);
  }

  .border-animate:hover::after,
  .border-animate:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
