.headerWrapper {
    width: 100%;
    min-width: 900px;

    margin: 10px 0;

    display: flex;
    padding: 0 15%;

    align-items: center;
    font-size: x-large;

    position: fixed;
    z-index: 10;
}

.header {
    width: 50%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.button {
    padding: 15px;
    background-color: var(--button);
    backdrop-filter: var(--bluredFilter);
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 70px;
    min-width: 70px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-content: center;
    background-size: cover;
    transition: all .5s;
}

.button:hover {
    cursor: pointer;
    background-color: var(--buttonHover);

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pfpContainer {
    padding: 5px;
}

.pfp {
    border-radius: 7px;
    height: 100%;
    width: 100%;
    background-size: cover;
}

