.textField {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fieldWrap {
  position: relative;
}

.fieldText {
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--textColor);
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: var(--textColor);
  transition: 0.1s ease-out;
  width: 100%;
  background-color: transparent;
}

.fieldLabel {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background);
  color: var(--titleColor);
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

.fieldText:focus {
  border-color: var(--primaryColor);
}

.fieldText:focus + label {
  color: var(--primaryColor);
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.fieldText:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.fieldError {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
