.bannerBackgroundImage {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;

  height: 100svh;
  width: 100%;

  opacity: 0.1;
  filter: blur(5px);

  object-fit: cover;
  object-position: top;
}

.bannerBackgroundImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(0deg, var(--background) 0%, rgba(255, 255, 255, 0) 100%);
}

.bannerInfoContainer {
  height: fit-content;
}

.bannerInfoContainer .bannerBaseInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  min-width: 100px;
  @apply w-full flex-wrap md:flex-nowrap md:w-1/2;
}

.bannerTitle {
  color: var(--titleColor);
  text-transform: uppercase;
}

.bannerChar {
  border-radius: var(--borderRad);
  max-width: 35%;
  position: relative !important;
  width: fit-content !important;
  margin-bottom: 5px;
  @apply max-w-0 md:max-w-48 lg:max-w-96;
}

.bannerDescription {
  @apply hidden lg:block lg:w-1/2;
}

.load {
  background-color: var(--02dp);
  color: transparent;
  background: var(loadingGradient);
  background-size: 200% 100%;
  animation: var(--loadingAnim);
}

.bannerBaseInfo,
.bannerTitle,
.bannerDescription {
  opacity: 1;
  animation: text-animate 0.5s linear forwards;
}

.bannerDescriptionLoad {
  height: 100px;
  width: 75%;
}

@keyframes text-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
